header{
    display: flex;
    align-items: center;
    background-color: #000000d6;
    color: white;
    padding: 0 30px;
}
header .logo-wrapper h2{

}

header nav ul{
    display: flex;
    column-gap: 20px;
}

header nav ul li{
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}